services:

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: adminTraider
      POSTGRES_PASSWORD: adminTraider
      POSTGRES_DB: trade_db
    ports:
      - "5432:5432"
    volumes:
       - pgdata:/var/lib/postgresql/data
    networks:
      - mynetwork

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    hostname: kafka
    environment:
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_NODE_ID: 1
      KAFKA_KRAFT_CLUSTER_ID: "b30f2f10-8839-4ebc-a8db-bfa76386bb42"
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
    ports:
      - "9092:9092"
      - "9093:9093"
#    volumes:
#      - kafka_data:/bitnami/kafka
    networks:
      - mynetwork

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin_password
    command:
      - start-dev
    ports:
      - "8082:8080"  # Expose on host port 8082
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - mynetwork
    restart: unless-stopped

volumes:
  kafka_data:
  pgdata:
  keycloak_data:

networks:
  mynetwork:
    driver: bridge
    name: mynetwork
